isochrones/
outlines/
outsort/
outtemp/
PHOENIX/
MOOGout/
test_files/
.vscode/
__pycache__
*.dat
*.tar.gz
RunAbundanceOnMOOGatomLists
RunAbundanceOnMOOGatomLists.cpp
batchRun.py
example-tauCet/
linemakeconsoleout.txt
mpplib/modelatmosphere.txt
moog/*.o
Barklem.dat
BarklemUV.dat
fort.20
fort.21

