mooglists/
isochrones/
outlines/
outsort/
outtemp/
PHOENIX/
MOOGout/
test_files/
.vscode/
__pycache__
*.dat
*.tar.gz
RunAbundanceOnMOOGatomLists
RunAbundanceOnMOOGatomLists.cpp
example-tauCet/
linemakeconsoleout.txt
mpplib/modelatmosphere.txt
moog/*.o
